<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <title>{% block title %}Restaurant Booking system{% endblock %}</title>
</head>
<body>
    <header>
        <h1 class="title">Welcome to the Lettuce Restaurant</h1>
    </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 Restaurant Management System</p>
</footer>
</body>
</html>