<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <title>{% block title %}Restaurant Booking system{% endblock %}</title>
</head>
<body>
    <header>
        <h1 class="title">Welcome to the Lettuce Restaurant</h1>
    </header>
  <main>
    <a href="{% url 'home'%}">Home</a>
    <a href="https://www.beefeater.co.uk/en-gb/main-menu/beefeater_main_menu_band4.pdf" target="_blank">Menu</a>
    
    {% if user.is_authenticated %}
    <p>{{ user.username }}<a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
    <a href="{% url 'login' %}">Login/Sign up</a>
    {% endif %}

    <a href="{% url 'booking_page' %}">Booking</a>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 Restaurant Management System</p>
</footer>
</body>
</html>