{% extends 'base.html' %}

{% block content %}
<h2>Welcome to the booking system</h2>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<div class="column">
    <div>
        <section>Customers</section>
        <p>Make a reservation</p>
        <a href="{% url 'create_booking'%}">Book</a>
    </div>
    
    <div>
        <section>Admin</section>
        <p>Add a TimeSlot</p>
        <a href="{% url 'add_timeslot'%}">Add</a>
    </div>
</div>

{% for booking in bookings %}
<div>
    <p>Date: {{ booking.timeslot.date.date }}</p>
    <p>Time Slot: {{ booking.timeslot.time }}</p>
    <a href="{% url 'edit_booking' booking.id %}">Edit</a>

    <a href="{% url 'delete_booking' booking.id %}" onclick="return confirm('Are you sure you want to cancel your Booking?')">Delete</a>
</div>

{% endfor %}
{% endblock %}